.form {


}

.form_input {
  padding: 5px;
  font-size: 20px;
}

.form_button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-left: 15px;
}

.error {
  border-color: orangered;
  padding: 5px;
  font-size: 20px;
}
