@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');

.myPage {
    font-family: 'Caveat';
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin: 100px auto;
    background: #FFEFBA;
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);
    background: linear-gradient(to right, #FFFFFF, #FFEFBA);
    padding: 50px;
    border-radius: 7%;
}

.header {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


