nav {
  background:#FFFFFF;
    height: 80px;
    width: 100%;
    font-family: 'Caveat';
}


nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: black;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}

a.active,a:hover {
    background: #c06c84;
    transition: .5s;
    font-weight: bold;
}

