.nav {
    background:#FFFFFF;
    height: 80px;
    width: 100%;
}

.cyan_theme {
    background: cyan;
}

.orangered_theme {
    background: orangered;
}

.blue_theme {
    background: blue;
}


.nav_list {
    float: right;
    margin-right: 20px;
}

.nav_list_item {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.nav_list_item_link {
    color: black;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}

.nav_list_item_link.active,
.nav_list_item_link:hover {
    background: #c06c84;
    transition: .5s;
    font-weight: bold;
}

