.todo {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 750px;
  height: 530px;
  transform:translate(-50%,-50%) ;
  box-shadow: 1px 2px 20px #f3f3f3 ;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
  font-size: 14px;
  &__sidebar {
    background-color: #f4f6f8;
    width: 200px;
    height: 100%;
    border-right: 1px solid #f1f1f1;
    padding: 60px 20px;
  }
  &__list {
    li {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 10px 12px;
      margin-bottom: 5px;

      &.active {
        background: #FFFFFF;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.03);
        border-radius: 4px;
      }

      i {
        margin-right: 10px;
        display: inline-flex;
        img {
          opacity: 0.6;
        }
      }
    }
  }
}